<div class='col-md-8 col-md-offset-1'>
  <aside>
    <header><i class='fa fa-bar-chart-o'></i> <%= t('general.games_heatmap') %></header>
    <article>
      <div id="heatmap_container" style="height: 200px; min-width: 600px; max-width: 600px;"></div>
      <div id='heatmap_months'><%= @service.human_date_range %></div>
    </article>
  </aside>

  <aside>
    <header><i class='fa fa-info'></i> <%= t('general.day_info') %></header>
    <article id='day-info'>
    </article>
  </aside>
</div>
