<span class='links'>
  <%= link_to edit_game_comment_path(@game, comment), data: {remote: true} do %>
    <i class='fa fa-pencil'></i>
  <% end %>
  <%= link_to game_comment_path(@game, comment), method: :delete, data: {remote: true, confirm: t('.remove_confirm')} do %>
    <i class='fa fa-trash-o'></i>
  <% end %>
</span>
