<p>
  <%= link_to 'Edit', edit_game_comment_path(@game, comment), class: 'btn btn-default btn-sm', data: {remote: true} %>
  <%= link_to 'Remove', game_comment_path(@game, comment), method: :delete, class: 'btn btn-danger btn-sm', data: {remote: true} %>
</p>
