<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require font-roboto/roboto

 *= require core-ajax/core-ajax
 *= require core-drawer-panel/core-drawer-panel
 *= require core-header-panel/core-header-panel
 *= require core-toolbar/core-toolbar
 *= require core-icon-button/core-icon-button
 *= require core-image/core-image
 *= require core-collapse/core-collapse
 *= require core-tooltip/core-tooltip

 *= require paper-input/paper-input-decorator
 *= require paper-input/paper-input
 *= require paper-button/paper-button
 *= require paper-shadow/paper-shadow
 *= require paper-radio-button/paper-radio-button
 *= require paper-radio-group/paper-radio-group
 *= require paper-ripple/paper-ripple
 *= require paper-toast/paper-toast

 *= require_tree .
-->
