<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 * require_tree .
 *= require core-ajax/core-ajax
 *= require paper-input/paper-input-decorator
 *= require paper-input/paper-input
 *= require paper-button/paper-button
 *= require paper-ripple/paper-ripple
 *= require paper-shadow/paper-shadow

 *= require login-form/login-form
 *= require register-form/register-form
-->
