@media screen and (min-width: 1200px) {
  .top-game {
    display: inline-block;
    width: 225px;
  }

  .user-short {
    .user-info {
      width: 95px;
    }
  }

  #event-map-container {
    height: 430px;
  }
}
