@media screen and (min-width: 992px) and (max-width: 1199px) {
  .top-game {
    display: inline-block;
    width: 180px;
  }

  .user-short {
    .user-info {
      width: 95px;
    }
  }

  #event-map-container {
    height: 430px;
  }
}
