@media screen and (min-width: 768px) and (max-width: 991px) {
  .top-game {
    display: inline;
    width: auto;
  }

  .user-short {
    .user-info {
      width: 110px;
    }
  }

  #event-map-container {
    height: 430px;
  }

  #w-video {
    height: auto !important;
  }

  #main-title {
    margin-top: 100px !important;
  }

  .btn-outline {
    margin: 50px 0px 50px 0px !important;
  }
}
