@media screen and (max-width: 767px) {
  .top-game {
    display: inline;
    width: auto;
  }

  .user-short {
    .user-info {
      width: 95px;
    }
  }

  #event-map-container {
    height: 430px;
  }

  #w-video {
    height: auto !important;
  }

  #main-title {
    margin-top: 70px !important;
  }

  .btn-outline {
    margin: 20px 0px 50px 0px !important;
  }

  .overlay {
    height: auto !important;
  }

  video {
    height: 400px;
    width: auto;
  }
}
