@media screen and (max-width: 767px) {
  .top-game {
    display: inline;
    width: auto;
  }

  .user-short {
    .user-info {
      width: 95px;
    }
  }

  #event-map-container {
    height: 430px;
  }
}
