<div class='row master'>
  <div class='col-md-2'>
    <%= image_tag master.avatar, alt: master.name %>
  </div>

  <div class='col-md-10'>
    <p class='name'><%= master.name %></p>
    <p class='master-genres'>
      <%= genres_tags(master.genres) %>
    </p>
  </div>
</div>
