@import "./common/colors";

#main-header {
  height: 100%;
  background-color: $text-icons;
  core-toolbar {
    color: $text-icons;
    background-color: $primary;
  }
}

// players amount dropdown styles
paper-item {
  display: block;
  padding: 4px 16px 4px 16px;
  cursor: pointer;
  border-bottom: 1px dashed $divider;
  text-align: center;
}

paper-item.core-selected {
  color: $text-icons;
  background-color: $light-primary;
}
///////

.wizard-container {
  margin: 48px;

  .centered {
    text-align: center;
  }

  h2 {
    color: $primary-text;
    text-decoration: none;
  }
}

#step1-submit, #step2-submit, #step3-submit, #step4-submit, #step2-prev, #step3-prev, #step4-prev {
  background-color: $accent;
  color: $text-icons;
  margin-top: 18px;
}

#step2-submit {
  margin-left: 12px;
}

#step1-submit, #step3-submit {
  margin-left: 0;
}

// Step 1
// Right sided tips
.tips {
  display: inline-block;

  .do, .dont {
    font-size: 12px;
    .tip {
      color: $divider;
    }
  }

  figcaption {
    max-width: 300px;
  }

  img {
    margin-bottom: 16px;
  }

  .do {
    display: inline-block;
    color: $accent;
    div { 
      border-bottom: 12px solid $accent;
    }
  }

  .dont {
    display: inline-block;
    color: $danger;
    div { 
      border-bottom: 12px solid $danger;
    }
  }
}

// Step 2
.privacy {
  margin-bottom: 58px;

  .players {
    padding-left: 14px;
  }
}

.place {
  #online_info_decorator, #address_decorator {
    padding-left: 12px;
  }
}

//Step 4
#poster-preview {
  width: 300px;
  height: 300px;
  text-align: center;
  outline: 1px dashed $divider;

  i {
    margin-top: 35%;
    color: $divider;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

.upload {
  width: 300px;
  height: 50px;
  background-color: $text-icons;
  border: 1px dashed $divider;
  border-top: 0px;
  display: block;
  margin-top: 18px 0px 28px 0px;
  text-align: center;
  padding-top: 22px;
}

// For Chrome
file-input::shadow #fileInput {
  cursor: pointer;
}

// For Firefox
file-input #fileInput {
  cursor: pointer;
}

.links {
  margin-top: 48px;
  a {
    margin: 18px;
    cursor: pointer;
    color: $secondary-text;
    text-decoration: none;
    &:hover {
      color: $secondary-text;
      border-bottom: 1px $secondary-text dashed;
    }
  }
}

.spinner {
  margin-top: 28px;
  color: $accent;
  text-align: center;
}
