<div class='row'>
  <div class='col-xs-12 col-sm-12 col-md-12 filters'>
    <%= link_to t('.all'), users_path(f: 'all'), class: "btn btn-default btn-sm #{activity('all', 'all')}" %>
    <%= link_to t('.masters'), users_path(f: 'masters'), class: "btn btn-default btn-sm #{activity('masters', 'all')}" %>
    <%= link_to t('.players'), users_path(f: 'players'), class: "btn btn-default btn-sm #{activity('players', 'all')}" %>
  </div>
</div>
