<div class='user-short'>
  <% if user.avatar.present? %>
     <%= link_to user_path(user) do %>
       <%= image_tag asset_path(user.avatar) %>
     <% end %>
  <% else %>
    <i class='fa fa-picture-o default-image'></i>
  <% end %>

  <aside class='user-info'>
    <%= user.name %>
  </aside>
</div>
