<div id='login' horizontal layout center-justified>
  <p self-center>Вход</p>
</div>

<core-collapse id='login-collapse' opened>
  <login-form></login-form>

  <aside>... или войдите через</aside>

  <div id='providers' layout horizontal>
    <paper-button flex noink>
      <%= link_to "/login?provider=vkontakte" do %>
        <i class="fa fa-3x fa-vk"></i>
      <% end %>
    </paper-button>

    <paper-button flex noink> 
      <%= link_to "/login?provider=glpus" do %>
        <i class="fa fa-3x fa-google-plus"></i>
      <% end %>
    </paper-button>
  </div>
</core-collapse>

<div id='register' layout horizontal center-justified>
  <p self-center>Регистрация</p>
</div>

<core-collapse id='register-collapse'>
  <register-form form_path="<%= registrations_path %>"></register-form>
</core-collapse>
