<div>
  <%= link_to 'VK', '/login?provider=vkontakte' %>
  <%= link_to 'GPlus', '/login?provider=gplus' %>
</div>

<login-form></login-form>
<register-form form_path="<%= registrations_path %>"></register-form>
