<div class='row game'>
  <div class='col-md-12'>
    <p class='title'>
      <%= link_to game.title, game %>
      <aside>
        <span class='text-muted'>
          <%= game.created_at.to_s(:short) %>
        </span>
        <%= render 'management_links', game: game if allowed_to_manage_game?(game) %>
      </aside>
    </p>
    <p class='description'><%= game.description %></p>
  </div>
</div>
