<header><%= t('games.management') %></header>
<p><%= link_to t('games.edit'), edit_game_path(@game.slug) %></p>
<p><%= link_to t('games.delete'), game_path(@game.id),
  method: :delete,
  data: {confirm: t('games.delete_confirmation')} %></p>
