<aside class='hints'>
  <header><i class='fa fa-warning'></i> Правила создания игры</header>
  <ul>
    <li><span class='required'>Некоторые поля</span> обязательны для заполнения</li>
    <li>Как можно подробнее опишите игру в названии и описании. Старайтесь использовать уникальное и запоминающееся имя. Например: <i>Fallout: Tales Of The Wasteland</i></li>
    <li>Выберите подходящие жанры игры из выпадающего списка или введите название собственного (пробелы в названии не допускаются)</li>
  </ul>
</aside>

<aside class='hints'>
  <header><i class='fa fa-warning'></i> Игровые сессии</header>
  <p>Игровая сессия это то, что игроки будут видеть в списке предстоящих и прошедших игр.<br /><span class='text-danger'>Важно: каждая игра должна иметь хотя бы одну игровую сессию!</span></p>
  <ul>
    <li>Придумайте описание новой сессии. Например: на чем игра закончилась в прошлый раз и на пороге каких событий сейчас находятся игроки</li>
    <li>Выберите дату и время проведения игровой сессии</li>
    <li>Выберите подходящий арт по теме сесии</li>
  </ul>
</aside>
