<div horizontal layout center-justified class='wizard-container'>
  <div class='centered'>
    <h2>Шаг 3 из 4 (Игровые сессии)</h2>
    <% if @game.new_record? %>
      <game-events url=''></game-events>
    <% else %>
      <game-events url='<%= game_events_path(@game) %>'></game-events>
    <% end %>

    <paper-button raised id='step3-submit' recenteringTouch='true'>Далее</paper-button>
    <paper-button id='step3-prev' recenteringTouch='true'>Назад</paper-button>
  </div>
</div>

