<div>
  <% if user.avatar.present? %>
    <%= image_tag asset_path(user.avatar) %>
  <% else %>
    <i class='fa fa-picture-o default-image'></i>
  <% end %>

  <p class='user-info'>
    <%= user.name %><br />
    <%= user.email %><br />
    <%= link_to user.social_network_link, target: '_blank' do %>
      <i class='fa fa-vk'></i>
    <% end %>
  </p>
</div>
