<% content_for :title do %>
  Редактирование тега
<% end %>

<% content_for :sidebar do %>
  <aside>
    <header>
      <i class='fa fa-warning'></i>
      Правила редактирования тега
    </header>
    <article>
      <ul>
        <li>В названии тега запрещены пробелы, вместо них используйте символы _ или -</li>
        <li>Название тега обязательно для заполнения</li>
        <li>Название должно быть уникальным</li>
        <li>В развернутом описании указывайте только необходимую информацию</li>
        <li>Краткость - сестра таланта</li>
      </ul>
    </article>
  </aside>
<% end %>

<%= render 'form' %>
