<% content_for :sidebar do %>
  <aside>
    <header>
      <i class='fa fa-tags'></i>
      Список тегов
    </header>
    <article>
      Тег - это ярлык или кейворд, который категоризирует ваши игры. Нажав на него вы найдете все соответствующие игры.
    </article>
  </aside>
<% end %>

<div class='row tags'>
  <div class='col-xs-12 col-sm-12 col-md-12'>
    <%= render @tags %>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12 col-sm-12 col-md-12 text-center'>
    <%= paginate @tags %>
  </div>
</div>

