<% content_for :sidebar do %>
  <aside>
    <header>
      <i class='fa fa-tags'></i>
      Список тегов
    </header>
    <article>
      Тег - это ярлык или кейворд, который категоризирует ваши игры. Нажав на метку вы найдете все игры относящиеся к ней.
    </article>
  </aside>
<% end %>

<div class='row tags'>
  <div class='col-md-12'>
    <%= render partial: 'tag', collection: @tags %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12 text-center'>
    <%= paginate @tags %>
  </div>
</div>

