@import 'common/colors';
@import 'font_awesome';

:host {
  width: 340px;
  height: 300px;
  margin-bottom: 8px;
  margin-right: 8px;

  .small {
    width: 18px;
    height: 18px;
  }

  .image-container {
    position: absolute;
    width: 340px;
    height: 300px;
    overflow: hidden;
  }

  core-tooltip {
    cursor: pointer;
  }

  paper-shadow {
    width: inherit;
    height: inherit;

    header {
      text-align: center;
      background-color: rgba(255,255,255, 0.9);
      position: absolute;
      top: 0px;
      width: 100%;
      height: 28px;
      color: $primary-text;
      font-weight: bold;
    }

    core-image {
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      &:hover {
        -webkit-transition: -webkit-transform 1s;
        -moz-transition:    -moz-transform 1s;
        -o-transition:      -o-transform 1s;
        transition:         transform 1s;

        -webkit-transform: scale(1.1);
        -moz-transform:    scale(1.1);
        -ms-transform:     scale(1.1);
        -o-transform:      scale(1.1);
        transform:         scale(1.1);
      }
    }

    section {
      position: absolute;
      bottom: 0px;
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: rgba(255,255,255, 0.9);
      color: $primary-text;

      p {
        margin: 8px;
        font-size: 12px;
      }
    }
  }

  paper-ripple {
    color: $text-icons;
  }

  .events {
    position: relative;
    font-size: 12px;
    background-color: $accent;
    color: $text-icons;
    padding: 3px;
    margin-right: 4px;
    border-radius: 20%;
  }

}
