<polymer-element name='profile-games' attributes='url games'>
  <template>
    <link rel="stylesheet" href="profile-games.css.scss" />

    <paper-shadow z='1'>
      <header>Мои игровые кампании</header>
      <div layout vertical class='games-list'>
        <template repeat='{{game in games}}'>
          <div layout horizontal>
            <div flex><a on-click='{{showGame}}' data-game-url='{{game.url}}'>{{game.title}}</a></div>
            <div class='actions'>
              <template if='{{game.can_be_managed}}'>
                <a on-click='{{deleteGame}}' data-game-id='{{game.id}}'><i class='fa fa-trash danger'></i></a>
              </template>
            </div>
          </div>
        </template>

        <template if='{{games.length == 0}}'>
          <p>Игр нет</p>
        </template>
      </div>
    </paper-shadow>

    <core-ajax id='games_fetcher' url='{{url}}' method='GET'
    handleAs='json' 
    on-core-error='{{handleError}}'
    on-core-response='{{handleSuccess}}'>
    </core-ajax>

    <core-ajax id='destroy_game' method='DELETE'
    handleAs='json' 
    on-core-error='{{handleGameError}}'
    on-core-response='{{handleGameSuccess}}'>
    </core-ajax>
  </template>

  <script src="profile-games.js.coffee"></script>
</polymer-element>
