@import 'common/colors';
@import 'common/links';
@import 'font_awesome';

:host {
  display: inline-block;
  margin: 18px;
  width: 350px;
  height: auto;

  header {
    font-size: 14px;
    padding: 8px 14px;
    background-color: $divider;
    color: $text-icons;
  }

  .danger {
    color: $danger;
  }

  .games-list {
    padding: 18px;
    max-height: 500px;
    overflow: scroll;

    div {
      margin: 4px 0px;
    }

    .actions {
      margin-left: 4px;
    }
  }
}
