<polymer-element name='profile-games' attributes='url games'>
  <template>
    <link rel="stylesheet" href="profile-games.css.scss" />

    <paper-shadow z='1'>
      <div layout vertical class='games-list'>
        <header>Мои игровые кампании</header>
       
          <template repeat='{{game in games}}'>
            <div class='games-list' layout horizontal>
              <div flex><a on-click='{{showGame}}' data-game-url='{{game.url}}'>{{game.title}}</a></div>
              <div class='actions'>
                <a on-click='{{deleteGame}}' data-game-id='{{game.id}}'><i class='fa fa-trash danger'></i></a>
              </div>
            </div>
          </template>

        <template if='{{games.length == 0}}'>
          <p>Игр нет</p>
        </template>
 
      </div>
    </paper-shadow>

    <core-ajax id='games_fetcher' url='{{url}}' method='GET'
    handleAs='json' 
    on-core-error='{{handleError}}'
    on-core-response='{{handleSuccess}}'>
    </core-ajax>

    <core-ajax id='destroy_game' method='DELETE'
    handleAs='json' 
    on-core-error='{{handleGameError}}'
    on-core-response='{{handleGameSuccess}}'>
    </core-ajax>
  </template>

  <script src="profile-games.js.coffee"></script>
</polymer-element>
