@import 'common';
@import 'imports';

:host {
  display: inline-block;
  margin: 18px 18px 18px 0px;

  paper-shadow {
    padding: 18px;
  }

  .games-list {
    max-height: 500px;
    overflow: scroll;
  }

  header {
    color: $primary-text;
    font-size: 18px;
    margin-bottom: 14px;
  }

  .danger {
    color: $danger;
  }

  .games-list {
    div {
      margin: 4px 0px;
    }

    .actions {
      margin-left: 4px;
    }

    a {
      cursor: pointer;
      color: $secondary-text;
      text-decoration: none;
      &:hover {
        color: $secondary-text;
        border-bottom: 1px $secondary-text dashed;
      }
    }
  }
}
