<div class='row player'>
  <div class='col-md-1'>
    <%= image_tag player.avatar, alt: player.name %>
  </div>

  <div class='col-md-11'>
    <p class='name'><%= player.name %></p>
    <p class='player-genres'>
      <%= genres_tags(player.genres) %>
    </p>
  </div>
</div>
