<polymer-element name="register-form" attributes='form_path'>
  <template>
    <link rel="stylesheet" href="register-form.css.scss" />

      <h2>Register</h2>

      <paper-input-decorator id='email_decorator' floatingLabel label="Email">
        <input id='email' type='email' value='{{emailValue}}' is="core-input">
      </paper-input-decorator>

      <paper-input-decorator id='password_decorator' floatingLabel label="Password">
        <input id='password' value='{{passwordValue}}' type='password' is="core-input">
      </paper-input-decorator>

      <paper-input-decorator id='password_confirmation_decorator' floatingLabel label="Password Confirmation">
        <input id='password_confirmation' value='{{passwordConfirmValue}}' type='password' is="core-input">
      </paper-input-decorator>

      <paper-button on-click='{{submitForm}}'>Register</paper-button>
     
      <core-ajax id='form_sender' url='{{form_path}}' method='POST'
      handleAs='json' 
      on-core-error='{{handleError}}'
      on-core-response='{{handleSuccess}}'>
      </core-ajax>
  </template>


  <script src="register-form.js.coffee"></script>
</polymer-element>
