@import 'common/colors';
@import 'font_awesome';

:host {
  display: inline-block;
  margin: 18px;
  width: 350px;
  height: auto;

  .account-list {
    padding: 18px;
  }

  header {
    font-size: 14px;
    padding: 8px 14px;
    background-color: $divider;
    color: $text-icons;
  }

  paper-shadow {
    width: inherit;
  }

  paper-checkbox {
    vertical-align: middle;
  }
}
