@import 'common';
@import 'imports';

:host {
  display: inline-block;
  margin: 18px;
  width: 350px;
  height: auto;

  .small {
    width: 18px;
    height: 18px;
  }

  header {
    font-size: 18px;
    padding: 8px 14px;
    background-color: $accent;
    color: $text-icons;
  }

  paper-shadow {
    width: inherit;
  }

  core-image {
    border-radius: 100%;
  }

  paper-button {
    background-color: $accent;
    color: $text-icons;
    margin-top: 18px;
    margin-right: 0px;
    float: right;
  }

  .avatar-container {
    margin: 18px;
    text-align: center;
  }

  .info {
    margin: 18px;
  }

  .avatar-upload {
    display: inline-block;
    margin-top: 8px;
    &:hover {
      i {
        color: $accent;
      }
    }
  }

  #avatar-preview {
    text-align: center;

    i {
      color: $divider;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  }

  // players amount dropdown styles
  paper-item {
    display: block;
    padding: 4px 16px 4px 16px;
    cursor: pointer;
    border-bottom: 1px dashed $divider;
    text-align: center;
  }

  paper-item.core-selected {
    color: $text-icons;
    background-color: $secondary-text;
  }
  ///////

  .spinner {
    margin-top: 18px;
    width: 300px;
    color: $accent;
    text-align: center;
  }
}
