@import 'common/colors';
@import 'common/links';

html,body {
  color: $secondary-text;
}

.pre {
 white-space: pre-line;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

[main] {
  background-color: $text-icons;
  core-toolbar {
    color: $text-icons;
    background-color: $primary;
  }

  #game_container, #user_container {
    margin-top: 32px;
  }

  .no-games, .no-users {
    color: $divider;
    opacity: 0.1;
  }
}

[drawer] {
  background-color: $dark-primary;
  color: $light-primary;

  core-toolbar {
    background-color: $primary;
  }

  section {
    margin: 16px;
  }

  aside {
    margin: 0px 16px 16px 16px;
  }

  //--- Chrome ---
  //Paper inputs with decorators
  paper-input-decorator /deep/ .label-text,
  paper-input-decorator /deep/ .error {
      /* inline label,  floating label, error message and error icon color when the input is unfocused */
      color: $text-icons;
  }

  paper-input-decorator /deep/ ::-webkit-input-placeholder {
      /* platform specific rules for placeholder text */
      color: $text-icons;
  }
  paper-input-decorator /deep/ ::-moz-placeholder {
      color: $text-icons;
  }
  paper-input-decorator /deep/ :-ms-input-placeholder {
      color: $text-icons;
  }

  paper-input-decorator /deep/ .unfocused-underline {
      /* line color when the input is unfocused */
      background-color: $text-icons;
  }

  paper-input-decorator[focused] /deep/ .floated-label .label-text {
    /* floating label color when the input is focused */
    color: $accent;
  }

  paper-input-decorator /deep/ .focused-underline {
      /* line color when the input is focused */
      background-color: $accent;
  }

  paper-input-decorator /deep/ .cursor {
      /* floating cursor when the input is focused */
      background-color: $accent;
  }


  //--- Rest browsers ---
  //Paper inputs with decorators
  paper-input-decorator .label-text,
  paper-input-decorator .error {
      /* inline label,  floating label, error message and error icon color when the input is unfocused */
      color: $text-icons;
  }

  paper-input-decorator ::-webkit-input-placeholder {
      /* platform specific rules for placeholder text */
      color: $text-icons;
  }
  paper-input-decorator ::-moz-placeholder {
      color: $text-icons;
  }
  paper-input-decorator :-ms-input-placeholder {
      color: $text-icons;
  }

  paper-input-decorator .unfocused-underline {
      /* line color when the input is unfocused */
      background-color: $text-icons;
  }

  paper-input-decorator[focused] .floated-label .label-text {
    /* floating label color when the input is focused */
    color: $accent;
  }

  paper-input-decorator .focused-underline {
      /* line color when the input is focused */
      background-color: $accent;
  }

  paper-input-decorator .cursor {
      /* floating cursor when the input is focused */
      background-color: $accent;
  }
}

// Firefox
paper-radio-button #ink[checked] {
  color: $accent;
}

paper-radio-button #onRadio {
  background-color: $accent;
}

paper-radio-button[checked] #offRadio, paper-radio-button #offRadio {
  border-color: $accent;
}

// Chrome
paper-radio-button::shadow #ink[checked] {
  color: $accent;
}

paper-radio-button::shadow #onRadio {
  background-color: $accent;
}

paper-radio-button[checked]::shadow #offRadio, paper-radio-button::shadow #offRadio {
  border-color: $accent;
}

paper-button {
  font-size: 14px;
  background-color: $accent;
}

paper-fab {
  background-color: $accent;
}

hr {
  margin: 32px 0px 32px 0px;
  border: 0;
  border-bottom: 1px solid $divider;
}

h2 {
  color: $text-icons;
  text-decoration: underline;
}

.show-more {
  text-align: center;
  margin: 18px;
}
