// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  .comment {
    margin-bottom: 4em;
    padding: 1em;
    background-color: #eee;
    box-shadow: 5px 5px 7px -2px #ddd;

    .links {
      margin-top: 1em;
      text-align: center;
      a {
        text-decoration: none;
        margin-right: 2em;
      }
    }
    .message {
      margin-top: 1em;
    }
  }
}
