// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'common';

.comments {
  .comment {
    @include dark-tile;

    margin-bottom: 4em;

    a {
      text-decoration: none;
    }

    .links {
      margin-top: 1em;
      text-align: center;
      a {
        text-decoration: none;
        margin-right: 1em;
      }
    }
    .message {
      margin-top: 1em;
    }

  }

  .commenter-stats {
    display: inline-block;
    vertical-align: middle;
  }
}
