body {
  background-image: image-url('groovepaper.png');
  font-family: 'Lora', sans-serif !important;
}

#main {
  display: block;
  padding-top: 100px;
  h1 {
    display: inline-block;
    font-size: 90px;
    padding: 0;
  }

  img {
    vertical-align: text-bottom;
  }

  .description {
    color: silver;
    font-size: 30px;
  }

  .providers {
    margin-top: 50px;
    a {
      width: 100px;
    }
  }
}

.tip {
  margin: 20px 20px 20px 0px;
  font-size: 12px;
}

.signout-link {
  margin-left: 50px;
}

// --- Errors ---
.field_with_errors input {
}

// --- Bootstrap Navabar ---
.navbar-light {
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #990000;
  text-shadow: 0px 0px 30px red;
}
