// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  .title {
    font-size: 2em;
    color: black;
    font-weight: bold;
  }

  .description {
    line-height: 1.5em;
    white-space: pre-line;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  a {
    color: #5e5e5e;
    &:hover {
      color: #333333;
    }
  }

  aside a {
    margin-left: 10px;
  }

}

.tags {
  margin-bottom: 3em;
}

.new {
  color: #e11012;
  &:hover {
    color: black
  }
}

.events {
  margin-bottom: 4em;

  textarea, input[type='text'] {
    width: 300px;
  }

  .input-group-btn {
    width: 0;
  }

  img.poster {
    margin-right: 20px;
    outline: 0;
  }

  .remove-poster {
    margin-left: 10px;
  }

  .row {
    margin-bottom: 5em;
  }

  .default-image {
    margin-top: 0.6em;
    color: #ddd;
  }
}

#events-carousel {
  margin-bottom: 2em;

  .carousel-control span {
    position: absolute;
    top: 48%;
    z-index: 5;
    display: inline-block;
  }
}
