// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  .title {
    font-size: 2em;
    color: black;
    font-weight: bold;
  }

  .description {
    line-height: 1.5em;
    white-space: pre-line;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  a {
    color: #5e5e5e;
    &:hover {
      color: #333333;
    }
  }

  aside a {
    margin-left: 10px;
  }

}

.tags {
  margin-bottom: 3em;
}

.decision {
  border-top: 3px solid #e11012;
  padding: 15px 0px 15px 0px;
  border-bottom: 3px solid #e11012;
  margin-bottom: 3em;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    -webkit-transition: color 0.4s, text-shadow 0.4s;

    &:hover {
      color: #e11012;
      text-shadow: 0px 0px 10px #ff0000;
    }
  }
}

.new {
  color: #e11012;
  &:hover {
    color: black
  }
}

.events {
  margin-bottom: 4em;

  textarea, input[type='text'] {
    width: 300px;
  }

  .input-group-btn {
    width: 0;
  }

  img.poster {
    margin-right: 20px;
    outline: 0;
  }

  .remove-poster {
    margin-left: 10px;
  }

  .row {
    margin-bottom: 5em;
  }
}
