@import 'common';

.poster-container {
  width: 100%;
  height: 300px;
}

section.body {
  margin: 32px;
}

.fa-stack-1x {
  color: $white;
}

.fa-stack-2x {
  color: $yellow;
}

p {
  margin-right: 16px;
}
