// Place all the styles related to the game_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[main] {
  color: #fff;

  core-toolbar {
    background-color: #757575;
  }
}

[drawer] {
  background-color: #FFF;

  core-toolbar {
    background-color: #757575;
  }

  section {
    padding-left: 8px;
  }
}
