// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-title {
  font-size: 2em;
  color: black;
  font-weight: bold;
  a {
    color: #5e5e5e;
    &:hover {
      color: #333333;
      text-decoration: none;
    }
  }
}

.genre-description {
  line-height: 1.5em;
  white-space: pre-line;
}

.genre-tag {
  display: inline-block;
  padding: 1px 3px;
  background-color: #eff2f7;
  margin: 0em 0.5em 0em 0em;
  border-radius: 0.3em;
  border: 1px solid #ccd5e4;
  &:hover {
    background-color: #2a6496;
    border-color: #3b5998;
    color: #fff;
    cursor: pointer;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
