@import 'common';

// --- Login Page ---
.signin {

  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 600px;
  background-position: center center;
  background-color: #000;
  background-image: url(image_path('scetch.jpg'));

  .valign {
    vertical-align: middle;
  }

  .desc0 {
    height: 700px;
    width: 100%;
    color: white;

    header {
      font-family: 'Lobster', tahoma, arial, verdana, sans-serif, 'Lucida Sans', sans-serif;
      padding: 0;
      margin: 0;
      border: none;
      font-size: 90px;
      text-transform: none;
      text-align: center;
      @include fadeIn(1s, 0s);
    }

    .description {
      text-align: center;
      font-size: 20px;
      @include fadeIn(1s, 0.5s);
    }

    .providers {
      font-size: 20px;
      text-align: center;
      margin-top: 150px;
      margin-bottom: 50px;
      @include fadeIn(1s, 0.5s);
      a {
        font-size: 50px;
        color: white;
        &:hover {
          color: $ph-blue;
        }
      }
    }
  }

  .desc1, .desc3 {
    font-family: 'Lobster', tahoma, arial, verdana, sans-serif, 'Lucida Sans', sans-serif;
    box-shadow: 0px 0px 40px 7px #000;
    width: 100%;
    padding: 50px;
    background-color: #BFA67E;
    p {
      font-size: 25px;
    }
  }

  .desc2, .desc4 {
    height: 600px;
    width: 100%;
    padding: 100px 0px 0px 50px;
    color: white;
    p {
      font-size: 40px;
    }
  }
}
