// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event-radar {
  outline: 3px double #ddd;
}

#event-radar-container {
  height: 600px;
  margin-bottom: 40px;
}

#nearby-events {
  div {
    margin-bottom: 5px;
  }
}
