// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

.profile-menu {
  padding-top: 10px;
  margin-bottom: 30px;
  background-color: #F7F7F7;
  box-shadow: 1px 1px 2px #ddd;

  li {
    line-height: 2;
  }

  li.active {
    a {
      color: #000 !important;
    }
  }
}

.profile-header {
  font-size: 20px;
  font-weight: bold;
}

.profile-avatar {
  border: 3px double #aaa;
}

.bio {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  font-size: 16px;
}

#heatmap_months {
  position: relative;
  top: -30px;
  font-size: 11px;
  word-spacing: 80px;
  left: 100px;
  color: #606060;
}
