// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common/colors';

.login-body {
  margin: 0;
  padding: 0;
}

#register, #login {
  cursor: pointer;
  p {
    font-size: 20px;
  }
}

#login, #login-collapse, #register, #register-collapse {
  background-color: $dark-primary;
  color: $text-icons;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 48px;
}

#register {
  border-top: 1px solid $divider;
}

#login-collapse {
  background-color: rgba($primary, 0.8);
  aside {
    text-align: center;
    margin: 48px auto 28px auto;
  }
}

#register-collapse {
  background-color: rgba($primary, 0.8);
}

#providers {
  a {
    margin: 0px 28px 48px 28px;
    color: $text-icons;
    &:hover {
      color: $accent;
      border: 0px;
    }
  }
}
