// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags {
  a {
    color: inherit;
    text-decoration: none;
  }
  .tag {
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #adadad;
    -webkit-transition: color 0.4s, border-color 0.4s;
    &:hover {
      color: black;
      border-color: black;
      span {
        color: #e11012;
      }
    }

    span {
      -webkit-transition: color 0.2s;
      float: right;
      padding-left: 3px;
      font-size: 10px;
    }
  }
}
