// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'common';

.newspaper {
  min-height: 300px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;

  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
}
