// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags {
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      div {
        background-color: #fff;
        color: #000;
        outline: 1px solid #000;
      }
    }
  }

  .tag {
    font-size: 12px;
    margin: 2px;
    display: inline-block;
    padding: 2px 3px 2px 3px;
    background-color: #000;
    color: #fff;

    span {
      float: right;
      padding-left: 3px;
      font-size: 10px;
    }
  }
}

