// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-short {
  margin-bottom: 10px;
}

.user-info {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
