// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-short {
  display: inline-block;
  margin-bottom: 10px;

  a {
    text-decoration: none;
  }

  img {
    border: 3px double #aaa;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.user-info {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
