@import 'common/colors';

.landing {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;

  h1 {
    color: $primary-text;
    font-size: 48px;
  }

  p {
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 18px;
  }

  i {
    color: $primary;
    vertical-align: middle;
  }

  a {
    color: $accent;
    border: 2px dashed $accent;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 300;
    padding: 4px 8px;
    &:hover {
      border: 2px solid $accent;
      color: $accent;
    }
  }

  .description {
    padding-bottom: 48px;
  }
}
