@import 'common';

.video-overlay {
  background: rgba(0,0,0,.4);
  height: 700px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#w-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;

  a {
    padding: 0px 10px 0px 10px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    float: right;
    margin: 30px 50px 0px 0px;

    &:hover {
      text-decoration: none;
      background-color: #fff;
      color: #000;
    }
  }
}

#w-video {
  height: 700px;

  background: url(image-path('w-video-new.jpg')) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h2 {
    @include shadowFont(#fff);
    font-size: 60px;
    margin: 100px 0px 0px 50px;
  }
}

#w-content {
  min-height: 1000px;
  font-size: 18px;
  padding-top: 100px;
  text-align: center;

  .description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#w-footer {
  background-color: #000;
  min-height: 300px;
  color: #fff;
}

#w-video header, #w-content header, #w-footer header {
  text-align: center;
}

.btn-outline {
  margin-top: 100px;
  color: #fff;
  border-color: $ph-orange;
  background-color: $ph-orange;
  &:hover {
    color: #fff;
    background-color: transparent;
  }
}

#main-title {
  color: #fff;
  margin-top: 200px;
}

#reviews {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: left;

  .portrait {
    float: left;
    margin: 0px 20px;
  }

  .review {
    margin-bottom: 100px;
  }
}

#footer1, #footer2, #footer3 {
  font-size: 16px;
  margin-top: 50px;
  text-align: center;

  ul {
    color: #838886;
  }
}
