<div class='col-xs-12 col-sm-12 col-md-9 col-md-offset-1'>
  <% if @approval_boxes .present? %>
    <%= render partial: 'approval_box', collection: @approval_boxes %>
  <% else %>
    <%= t('.no_requests') %>
  <% end %>
</div>


