@import 'common';
@import 'imports';

:host {
  display: inline-block;
  margin: 18px;
  width: 350px;
  height: auto;

  header {
    font-size: 18px;
    padding: 8px 14px;
    background-color: $accent;
    color: $text-icons;
  }

  .danger {
    color: $danger;
  }

  .accounts-list {
    padding: 18px;

    div {
      margin: 4px 0px;
    }

    .actions {
      margin-left: 4px;
    }

    a {
      cursor: pointer;
      color: $secondary-text;
      text-decoration: none;
      &:hover {
        color: $secondary-text;
        border-bottom: 1px $secondary-text dashed;
      }
    }
  }
}
