<aside>
  <header><i class='fa fa-plus'></i> <%= t('sidebar.create_game_header') %></header>
  <article>
    <p><%= t('sidebar.create_game_tip') %></p>
    <p><%= link_to t('sidebar.create_game'), new_game_path, class: 'btn btn-xs btn-primary' %></p>
  </article>
</aside>
