<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <nav class='navbar navbar-default navbar-light' role='navigation'>
          <ul class='nav navbar-nav toplinks'>
            <li><%= link_to 'About Us', '#' %></li>
            <li><%= link_to 'Master Group', '#' %></li>
            <li><%= link_to 'Policy', '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
