<footer>
  <nav class='container navbar navbar-inverse navbar-light' role='navigation'>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class='collapse navbar-collapse' id='footer-collapse'>
      <ul class='nav navbar-nav toplinks'>
        <li><%= link_to t('general.about'), '/about_us' %></li>
        <li><%= link_to t('general.contacts'), '/contacts' %></li>
      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <li>
          <%= link_to 'https://vk.com/play_hard_rpg', target: :blank do %>
            <i class='fa fa-vk fa-2x'></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://twitter.com/PlayHardRpg', target: :blank do %>
            <i class='fa fa-twitter fa-2x'></i>
          <% end %>
        </li>
      </ul>
    </div>

  </nav>
</footer>
