<ul class='list-unstyled'>
  <li class='<%= current_page?(controller: 'profiles', action: 'edit') ? 'active' : '' %>'>
    <%= link_to t('.profile'), edit_profile_path %>
  </li>
  <!--<li><%#= link_to t('.achivements'), '#' %></li>
  <li><%#= link_to t('.statistics'), '#' %></li>-->
</ul>
