<section class='about-us'>
  <p>
  Клуб <strong>«Play Hard»</strong> занимается организацией и проведением настольных ролевых игр. Это весьма распространённый вид интерактивных развлечений в Европе и США, который пользуется там большой популярностью. К сожалению, на просторах стран СНГ ролевые игры распространены куда меньше, и многие о них просто не знают. Наша цель — исправить это и познакомить с данным видом творчества как можно больше людей.
  </p>

  <p>
  Задачей настольных ролевых игр является не только отличное времяпрепровождение в команде единомышленников, но также и развитие человека как личности: его мышления, способности взаимодействовать с командой, принимать важные решения в критических ситуациях, брать на себя ответственность и многое другое.
  </p>

  <p><strong>Что же такое настольные ролевые игры?</strong></p>

  <p>
  Это вид творчества, при котором участник выступает в качестве персонажа его любимой истории — книги, фильма или компьютерной игры, – сидя за игровым столом вместе с ведущим и другими игроками, если игра коллективная.</p>

  <p>
  Цель такой игры для участника — выполнить задачу, поставленную перед его персонажем или группой персонажей. Например: спасти королевство от разъярённого дракона, стать самым богатым торговцем города, найти древний артефакт. Цели могут быть абсолютно разные и могут изменяться по ходу игры. Ведущий игры выступает в качестве повествователя игровых событий и окружения для игроков, создавая эти самые события и препятствия участникам.</p>

  <p>
  Каждая игра проводится по определённой системе правил. Таких систем есть великое множество — от самых простых, умещающихся на парочке листов, до книг в несколько сотен страниц.</p>

  <p>
  Не знаете правил? Не беда — наши ведущие всегда подскажут, что нужно делать, и помогут создать персонажа.
  </p>

  <p>
  <strong>Ждем Вас с нетерпением <%= link_to 'по адресу', '/contacts' %>.</strong>
  </p>
</section>
