<section class='about-us'>
  <p><strong>О сайте</strong></p>
  <p>
   PlayHard позволяет любому желающему создать свою игру, выбрать место её проведения (просто поставивив маркер на карте) и удобное время. В дальнейшем игроки смогут найти созданную вами игру и присоединиться к ней, о чем вы будете извещены по e-mail.
  </p>
  <p>Сайт разрабатывается для любителей настольных RPG и призван облегчить ведение и поиск игр а так же игроков.</p>

  <p>Мы находимся на <span class='text-danger'>стадии разработки</span> а потому следите за обновлениями</p>

  <p>
  Проект <strong>PlayHard</strong> позволяет организовывать проведение настольных ролевых игр в удобном для вас месте и времени. Настольные ролевые это весьма распространённый вид интерактивных развлечений в Европе и США, который пользуется там большой популярностью. К сожалению, на просторах стран СНГ ролевые игры распространены куда меньше, и многие о них просто не знают. Наша цель — исправить это и познакомить с данным видом творчества как можно больше людей.
  </p>

  <p>
  Задачей настольных ролевых игр является не только отличное времяпрепровождение в команде единомышленников, но также и развитие человека как личности: его мышления, способности взаимодействовать с командой, принимать важные решения в критических ситуациях, брать на себя ответственность и многое другое.
  </p>

  <p><strong>Что же такое настольные ролевые игры?</strong></p>

  <p>
  Это вид творчества, при котором участник выступает в качестве персонажа его любимой истории — книги, фильма или компьютерной игры, – сидя за игровым столом вместе с ведущим и другими игроками, если игра коллективная.</p>

  <p>
  Цель такой игры для участника — выполнить задачу, поставленную перед его персонажем или группой персонажей. Например: спасти королевство от разъярённого дракона, стать самым богатым торговцем города, найти древний артефакт. Цели могут быть абсолютно разные и могут изменяться по ходу игры. Ведущий игры выступает в качестве повествователя игровых событий и окружения для игроков, создавая эти самые события и препятствия участникам.</p>

  <p>
  Каждая игра проводится по определённой системе правил. Таких систем есть великое множество — от самых простых, умещающихся на парочке листов, до книг в несколько сотен страниц.</p>

  <p><strong>Обратная связь</strong></p>
  <p>Если у вас возникли любые вопросы, предложения или вы столкнулись с проблемой - пишите на мой адрес <%= mail_to 'boris.bbk@gmail.com', 'boris.bbk@gmail.com' %></p>

  <p>Отличных игр приключенцы!</p>
</section>
