<div class='row contacts'>
  <div class='col-md-6'>
    <article>
      <h4><i class='fa fa-phone'></i> Телефоны</h4>
      <ul class='list-unstyled'>
        <li>(+38) 050 769-45-83 (МТС)</li>
        <li>(+38) 093 229-51-93 (Life)</li>
        <li>(+38) 068 684-62-47 (Киевстар)</li>
      </ul>
    </article>
    
    <article>
      <h4><i class='fa fa-share-alt'></i> По вопросам сотрудничества</h4>
      <ul class='list-unstyled'>
        <li><i class='fa fa-phone'></i> (+38) 099 103-27-22 — Сергей</li>
        <li><i class='fa fa-envelope'></i> playhardrpg@gmail.com</li>
        <li><a href='http://vk.com/play_hard_rpg'>Группа Вконтакте</a></li>
      </ul>
    </article>
  </div>

  <div class='col-md-6'>
    <article>
      <h4><i class='fa fa-map-marker'></i> Адрес клуба</h4>
      <p>г. Киев, ст. метро Вокзальная, ул. Брюллова, 5, кв. 14</p>
      <img class='map plain-img' src="http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=600x480&maptype=roadmap&markers=color:red%7C50.439853,30.482509&scale=2&sensor=false"/>
    </article>
  </div>
</div>

  

  

  
