<main id='main'>
  <div class='container'>
    <h1>Play Hard Core</h1>
    <%= image_tag asset_path('beta.png'), size: '70x49' %>
    <p class='description'>
      We are the future of tabletop roleplaying!
    </p>
    <p class='providers'>
      <%= vk_login_link %>
    </p>
    <p class='tip text-muted center-block'>
      Sign in via provider
    </p>
  </div>
</main>
