<main class='signin'>
  <section class='desc0'>
    <header><mark>PLAY</mark> hard</header>
    <p class='description'>
      Клуб настольных ролевых игр
    </p>
    <p class='providers'>
      <%= link_to '/auth/vkontakte', alt: 'Sign In via VK' do %>
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class='fa fa-vk fa-stack-1x'></i>
        </span>
      <% end %>
    </p>
  </section>

  <section class='desc1'>
    <p>
      <strong>Собственное полноценное приключение за игровым столом.</strong><br />
      <small>С командой других игроков или сами.<br />
        Под чутким руководством опытного ведущего.</small>
    </p>
  </section>

  <section class='desc2'>
    <p>
      <strong>Выберите сеттинг.</strong><br />
      <small>Участвуйте в эпических сражениях, интригах, расследованиях.<br />
        У нас возможно всё!</small>
    </p>
  </section>

  <section class='desc3'>
    <p>
      <strong>Создайте собственного героя.</strong><br />
      <small>Хитрый авантюрист, утончённый аристократ или могучий воин, варианты безграничны.</small>
    </p>
  </section>

  <section class='desc4'>
    <p>Вперед, навстречу приключениям!</p>
  </section>
</main>
