<main class='signin'>
  <section class='head'>
    <span class='title'><mark>PLAY</mark> hard</span>
    <p class='desc'>Система управления настольными RPG</p>
  </section>

  <section class='description'>
    Создавайте собственные настольные RPG игры и управляйте ими. Наберите свою команду игроков, выберите время проведения игры, укажите место встречи и наслаждайтесь вашей игрой!
  </section>

  <section class='providers'>
    <div>Вход</div>
    <%= link_to '/auth/vkontakte', alt: 'Sign In via VK' do %>
      <span class="fa-stack">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class='fa fa-vk fa-stack-1x'></i>
      </span>
    <% end %>
  </section>
</main>
