<main class='signin'>
  <section class='head'>
    <span class='title'><mark>PLAY</mark> hard</span>
    <p class='desc'>Онлайн платформа для управления настольными RPG</p>
  </section>

  <section class='providers'>
    Вход
    <%= link_to '/auth/vkontakte', alt: 'Sign In via VK' do %>
      <span class="fa-stack">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class='fa fa-vk fa-stack-1x'></i>
      </span>
    <% end %>
  </section>

  <section class='contacts'>
    <%= link_to 'https://vk.com/play_hard_rpg', target: :blank do %>
      <i class='fa fa-vk fa-2x'></i>
    <% end %>
    <%= link_to 'https://twitter.com/PlayHardRpg', target: :blank do %>
      <i class='fa fa-twitter fa-2x'></i>
    <% end %>
  </section>
</main>
