<div id='w-video'>
  <div class='container-fluid'>
    <header id='w-header'>
      <%= link_to 'Войти', sign_in_path %>
    </header>
  </div>
</div>

<div id='w-content'>
  <div class='container-fluid'>
    <h2>Наверное самое лучшее хобби в мире!</h2>
    <p>Настольные ролевые игры это вообще мега круто, офигенно и классно развивает воображение, но тут нужен нормальный и внятный текст на пару строчек.</p>
    <%= link_to 'Начать приключение', '', class: 'btn btn-lg btn-outline'%>
  </div>
</div>

<div id='w-footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
        <div id='footer1'>
          <h4>Мы в соцсетях:</h4>
          <p>
            <ul class='list-inline'>
              <li><i class='fa fa-facebook'></i></li>
              <li><i class='fa fa-vk'></i></li>
              <li><i class='fa fa-google-plus'></i></li>
            </ul>
          </p>
        </div>
      </div>

      <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
        <div id='footer2'>
          <h4>Партнеры:</h4>
          <ul class='list-inline'>
            <li>Wizards</li>
            <li>Dungeon</li>
            <li>Chris Perkins</li>
          </ul>
        </div>
      </div>

      <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
        <div id='footer3'>
          <h4>Инфо:</h4>
          <ul class='list-inline'>
            <li>Соглашение</li>
            <li>О Нас</li>
            <li>Контакты</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
