<div class='landing' layout horizontal center-justified>
  <div>
    <h1>Adventure Kit</h1>
    <p class='description'>Система управления настольными ролевыми играми</p>

    <%= link_to 'Вход', new_registration_path %>
  </div>
</div>
