<core-drawer-panel rightDrawer>

  <core-header-panel main>
    <core-toolbar>
      <span flex>Game Box</span>
      <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
    </core-toolbar>

    <template is='auto-binding'>
      <div id='game_container' layout horizontal wrap>
        <template repeat='{{game in games}}'>
          <paper-game data='{{game}}'></paper-game>
        </template>
      </div>
      <game-service games='{{games}}' url="<%= events_path %>"></game-service>
    </template>

  </core-header-panel>

  <core-header-panel id='game_drawer' drawer>
    <core-toolbar justify='end'>
      <%= link_to path_to_current_user_profile do %>
        <paper-shadow z='1' class='round'>
          <%= image_tag current_user.avatar.medium.url, class: 'round' %>
          <paper-ripple fit class="recenteringTouch circle white-ripple"></paper-ripple>
        </paper-shadow>
      <% end %>

      <%= link_to signout_path do %>
        <core-icon icon='exit-to-app'></core-icon>
      <% end %>
    </core-toolbar>

    <section>
      <h4>Вид игровых кампаний</h4>
      <paper-radio-group selected="realtime">
        <paper-radio-button name="realtime" label='Realtime игры'></paper-radio-button>
        <paper-radio-button name="online" label='Online игры'></paper-radio-button>
      </paper-radio-group>
    </section>

    <section>
      <h4>Фильтр игровых кампаний</h4>
      <paper-radio-group selected='my'>
        <paper-radio-button name='all' label='Все кампании'></paper-radio-button>
        <paper-radio-button name='my' label='Кампании, в которых я играю'></paper-radio-button>
        <paper-radio-button name='owned' label='Созданные мною кампании'></paper-radio-button>
      </paper-radio-group>
    </section>

    <section>
      <h4>Временной промежуток</h4>
      <paper-radio-group selected='upcoming'>
        <paper-radio-button name='upcoming' label='Предстоящие'></paper-radio-button>
        <paper-radio-button name='past' label='Прошедшие'></paper-radio-button>
      </paper-radio-group>
    </section>
  </core-header-panel>

</core-drawer-panel>

